body {
  font-family: 'Roboto', sans-serif;
}

div.grabPhrase {
  font-size: 200%;
  font-weight: 200%;
}

div.job {
  font-size: 120%;
}

div.degrees {
  font-size: 120%;
}

div.degrees {
  font-size: 120%;
}

li#description {
  font-size: 80%;
}

div#cards {
  padding-left: .4%;
  padding-right: .4%;
  text-align: center;
}

div#card-1 {
  float: left;
  height: 200px;
  width: 400px;
  background-color: #E4F1FE ;
  color: #22313F;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

div#card-2 {
  float: right;
  height: 200px;
  width: 400px;
  background-color: #E4F1FE ;
  color: #22313F;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

div#card-3 {
  height: 200px;

  display: inline-block;
  width: 400px;
  background-color: #E4F1FE ;
  color: #22313F;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

#card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
